.contaner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(pic/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
}
.contaner iframe{
    border-radius: 15px;
}
